body{
	margin: 10em;
	background-color: lavenderblush;
}
h1{
	font-family: Courier New;
	font-kerning: 4em;
	font-size: 70px;
	text-align: center;
	color:darkslategray ;



}
section{
	padding: 1em;
	background-color: lemonchiffon;
	border:6px dotted darkslategray ;

	}
h1:hover{
	filter: blur(5px);
}

h4{ 
	text-align: center;

 }
 figure{ display:flex; 
 justify-content:center;
 gap: 30px;
 text-align: center;}

 h2{
 	font-family: Courier New;
 	color: darkslategray;
 	font-weight: 400;
 	font-size: 30px;
 }
 h3{ font-weight:200px;
 	font-family: Courier New;
 	color: darkslategray;
 	font-size: 20px;

  }
  h4{
  	font-family: Courier New;
  	color: darkslategray;
  	font-size: 20px;
  }
  p{ 
  	font-family: Courier New;
  	color: darkslategray;
  	border: 2px dotted;
  	border-color: darkslategray;
  	font-size: 20px;
   }
h5{
	font-family: Courier New;
 	color: darkslategray;
 	font-weight: 400;
 	font-size: 30px;

}

h5:hover{
	filter: blur(2px);


